include:
  - project: 'iopsys/gitlab-ci-pipeline'
    file: '/static-code-analysis.yml'

stages:
    - static_code_analysis
    - unit_test
    - functional_test
    
variables:
  DEBUG: 'TRUE'
  SOURCE_FOLDER: "."

run_unit_test:
   stage: unit_test
   image: iopsys/code-analysis:latest
   allow_failure: false
   script:
   - "./gitlab-ci/install-dependencies.sh"
   - "./gitlab-ci/setup.sh"
   - "./gitlab-ci/unit-test.sh"
   artifacts:
      when: always
      paths:
         - timestamp.log
         - memory-report.xml
         - unit-test-coverage.xml
         
run_api_test:
    stage: functional_test
    image: iopsys/code-analysis:latest
    allow_failure: false
    script:
    - "./gitlab-ci/install-dependencies.sh"
    - "./gitlab-ci/setup.sh"
    - "./gitlab-ci/functional-api-test.sh"

    artifacts:
        when: always
        reports:
            junit: ./report/tap.xml
        paths:
            - timestamp.log
            - api-test-coverage.xml
            - api-test-memory-report.xml
            - api-test-result.log

run_functional_test:
    stage: functional_test
    image: iopsys/code-analysis:latest
    allow_failure: false
    script:
    - "./gitlab-ci/install-dependencies.sh"
    - "./gitlab-ci/setup.sh"
    - "./gitlab-ci/functional-test.sh"

    artifacts:
        when: always
        reports:
            junit: ./report/tap.xml
        paths:
            - timestamp.log
            - funl-test-coverage.xml
            - funl-test-memory-report.xml
            - funl-test-result.log
            - funl-test-debug.log
